<li>
	{{name}}

	<button class="change-book" data-id="{{id}}" data-newbook="{{finish}}">
		{{#if finish}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	
	<button class="delete-book" data-id="{{this.id}}">DELETE!</button>

</li>
