<li>
	{{name}}

	<button class="change-book" data-id="{{id}}" data-newBook="{{finish}}">
		{{#if finish}}Finished!{{else}}Re-Read{{/if}}
	</button>

	<button class="delete-book" data-id="{{this.id}}">Delete</button>
</li>
